/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

section[id] {
  scroll-margin-top: 70px;
}

header {
  width: 100%;
  min-height: 90vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../assets/shop_g.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  scroll-margin-top: 70px;
}

header .text__ini {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

header .text__ini > h1 {
  text-align: center;
  color: #fff;
  max-width: 80%;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  width: inherit;
}

header #terror__span__typeit {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  width: inherit;
  text-align: center;
}

p {
  color: #000;
  font-size: 1.2rem;
}

.products-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 90px auto 0 auto;
  height: auto;
  z-index: 0;
}

.products-content > h1 {
  border-bottom: 2px solid #000;
  color: #000;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
}

.products-content .guitars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px;
  justify-content: space-around;
  align-items: center;
}

.products-content .guitars .guitar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  z-index: 0;
}

.guitars .guitar > h2 {
  font-size: 1.5rem;
  z-index: 0;
}

.products-content .guitars img {
  max-width: 350px;
  margin: 20px 0;
  z-index: 0;
}

.products-content .guitars span {
  font-size: 1.2rem;
  margin: 5px 0;
  z-index: 0;
}

.sucursales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../assets/pexels-stephen-niemeier-68710.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sucursal__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  background: #fff;
  margin-left: 5%;
}

.sucursal__info > h1 {
  color: #000;
  text-align: left;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 60px 40px 0 40px;
  line-height: 4rem;
  letter-spacing: 0.2rem;
}

.sucursal__info span {
  margin: 20px 40px;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

footer {
  width: 100%;
  min-height: 300px;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  scroll-margin-top: 70px;
}

.footer__logo {
  max-width: 100px;
  margin: 40px 0;
}

.extras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 2.5rem;
}

footer span {
  font-size: 1.8rem;
  margin: 10px 0;
  cursor: pointer;
}

.media__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 50px 0;
}

.products-content .guitars img {
  width: 100%;
  text-align: center;
  z-index: 0;
}

@media (max-width: 700px) {
  header .text__ini > h1 {
    font-size: 3rem;
  }

  header .text__ini #terror__span__typeit {
    font-size: 1.2rem;
  }

  .products-content > h1 {
    font-size: 2rem;
  }

  .sucursales .sucursal__info {
    width: 90%;
    height: 90%;
    max-width: 400px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .sucursal__info > h1 {
    text-align: center;
    font-size: 2.2rem;
    margin: 20px;
  }

  .sucursal__info span {
    font-size: 1.5rem;
    text-align: center;
  }

  footer {
    flex-direction: column;
  }

  .extras,
  .media__icons {
    flex-direction: column;
  }
}
